apiVersion: v1
kind: Service
metadata:
  name: postgres-service
  namespace: clientvault
spec:
  selector:
    app: postgres
  ports:
    - port: 5432
      targetPort: 5432
  clusterIP: None
---
apiVersion: v1
kind: Service
metadata:
  name: clientvault-service
  namespace: clientvault
spec:
  type: NodePort
  selector:
    app: clientvault
  ports:
    - port: 80
      targetPort: 8080
      nodePort: 30007