name: CD

on:
  workflow_run:
    workflows: ["CI"]
    types:
      - completed

jobs:
  docker-publish:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image
        run: |
          docker build -t durksie/clientvault-app:latest .

      - name: Push Docker image
        run: |
          docker push durksie/clientvault-app:latest
