name: ClientVault CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-test:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:15-alpine
        env:
          POSTGRES_DB: client_vault
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: "#Brayden1@"
        ports:
          - 5432:5432
        options: >-
          --health-cmd="pg_isready -U postgres"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 21

      - name: Build & Run Tests
        run: mvn clean test

      - name: Package JAR
        run: mvn clean package -DskipTests

      - name: Build Docker Image
        run: docker build -t durksie/clientvault-app:latest .
