name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  wait-for-postgres:
    runs-on: ubuntu-latest
    steps:
      - name: Wait for PostgreSQL
        run: |
          while !</dev/tcp/postgres/5432; do
            echo 'Waiting for PostgreSQL...';
            sleep 5;
          done

  tests:
    runs-on: ubuntu-latest
    needs: wait-for-postgres
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Set up JDK
        uses: actions/setup-java@v1
        with:
          java-version: '11'
      - name: Run tests
        run: ./gradlew test